{% extends 'base.html' %}

{% block content %}
<div dir="ltr"><br><br>
    <div class="gmail_quote">
        <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
            <tbody>

            <tr height="16"></tr>
            <tr>
                <td>
                    <table bgcolor="#20B2AA" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="min-width:332px;max-width:600px;border:1px solid #e0e0e0;border-bottom:5px;border-top-left-radius:5px;border-top-right-radius:5px">
                        <tbody>
                        <tr>
                            <td height="30px" colspan="3"></td>
                        </tr>
                        <tr>
                            <td width="32px"></td>
                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;line-height:1.25">
                                {{ title }}
                            </td>
                            <td width="32px"></td>
                        </tr>
                        <tr>
                            <td height="18px" colspan="3"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table bgcolor="#E0FFFF" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px">
                        <tbody>
                        <tr height="16px">
                            <td width="32px" rowspan="3"></td>
                            <td></td>
                            <td width="32px" rowspan="3"></td>
                        </tr>
                        <tr>
                            <td><p>{{ username }},</p>
                                {% block message_body %}{% endblock %}
                                <p>С уважением,</p>
                                <p>Wordskills Bank Inc.</p></td>
                        </tr>
                        <tr height="32px"></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr height="16"></tr>
            <tr>
                <td style="max-width:600px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:18px;padding-bottom:10px">
                                    <tbody>
                                    <tr>
                                        <td>Не отвечайте на это сообщение, оно сгенерировано автоматически.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

